@using LearningWebsite.Controllers
@using LearningWebsite.Models.DbModels
@model LearningWebsite.Models.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Web Site!</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <i class="glyphicon glyphicon-home"></i> Home
                        </a>
                    </div>
                    <div class="collapse navbar-collapse"
                         id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">

                            @if (Model.UserViewModel.Role != Role.Guest)
                            {
                                <li class="dropdown">
                                    <a href="#modal-container-logout"
                                       data-toggle="modal">
                                        <i class="glyphicon glyphicon-share-alt"></i> Logout
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    <a href="#modal-container-signin" data-toggle="modal">
                                        <i class="glyphicon glyphicon-log-in"></i> Login
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a href="#modal-container-signup"
                                       data-toggle="modal">
                                        <i class="glyphicon glyphicon-share-alt"></i> Register
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;">
    <div id="searchArea" style="margin-top: 50px">

        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-center", @role = "search" }))
        {
            <div class="form-group">
                <input type="text" class="form-control" style="width: 500px;" name="searchTerm">
            </div>



                            <button type="submit" class="btn active btn-default">
                                <i class="glyphicon glyphicon-search"></i> Search
                            </button>
        }

    </div>

    @if (Model.SearchResultCourseMaterials != null)
    {
        <div id="CoursesMaterialRegion" style="margin-top: 10px">
            <table id="tableCoursesMaterial" class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">Materials</th>
                    </tr>
                    <tr>

                        <th>
                            Name
                        </th>
                        <th>
                            Rate
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var courseM in Model.SearchResultCourseMaterials)
                    {
                        <tr onclick="location.href = 'http://www.marca.com'" style="cursor: pointer">

                            <td>@courseM.Content</td>
                            <td>
                                @courseM.Rating.ToString()
                            <img src="~/Views/Images/starts_rating/Stars1.gif" />
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>

    }
    @if (Model.SearchResultCourses != null)
    {
        <div id="CoursesRegion" style="margin-top: 10px">
            
            <table id="tableMaterial" class="table table-striped table-hover table-condensed">
                <thead>
                <tr >
                    <th colspan="2" class="text-center">Courses</th>
                </tr>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Rate
                    </th>

                </tr>
                </thead>

                <tbody>
                    @foreach (var course in Model.SearchResultCourses)
                {
                    <tr>
                        <td>
                            <img src="~/Views/Images/starts_rating/Stars1.gif" />
                        </td>
                        <td>
                            <img src="~/Views/Images/starts_rating/Stars1.gif" />
                        </td>
                    </tr>
                }
                <tbody/>
            </table>
        </div>
                    }
                    <!--Popups signup and signin -->
                    <div class="modal fade" id="modal-container-signup" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel"
                                        style="text-align: left;">
                                        Sign Up
                                    </h4>
                                </div>
                                <div class="modal-body">

                                    @using (Html.BeginForm("Singup", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">
                                            <label for="nameInput" class="col-sm-2 control-label">
                                                Name
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="nameInput" name="Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="userInput" class="col-sm-2 control-label">
                                                UserName
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="userInput" name="UserName">
                                            </div>
                                        </div>
                                        <div class="form-group">


                                            <label for="inputPassword" class="col-sm-2 control-label">
                                                Password

                                            </label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control"
                                                       id="inputPassword" name="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10"
                                                 style="text-align: left;">
                                                <button type="submit" class="btn btn-default active">
                                                    Sign up
                                                </button>
                                                <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modal-container-signin" role="dialog"
                         aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel2"
                                        style="text-align: left;">
                                        Login
                                    </h4>
                                </div>
                                <div class="modal-body">

                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">

                                            <label for="inputUser" class="col-sm-2 control-label">
                                                Username
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="inputUser" name="UserName">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <label for="inputPassword" class="col-sm-2 control-label">
                                                Password
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control" id="inputPassword" name="Password">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-4">
                                                <button type="submit" class="btn btn-default active">
                                                    Sign in
                                                </button>
                                                <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modal-container-logout" role="dialog"
                         aria-labelledby="myModalLabel3" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-dialog" id="myModalLabel3"
                                        style="text-align: left;">
                                        Are you sure you want to logout?
                                    </h4>
                                </div>
                                <div class="modal-body">

                                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-4">
                                                <button type="submit" class="btn btn-default active">
                                                    Logout
                                                </button>
                                                <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>




        </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>